# Content
>* [**1. data preperation**](#1)
>* [**2. Data Quality**](#2)
>* [**3. Spalten transformieren**](#3)
>* [**4. Diagramme**](#4)
>* [**5. Grouping**](#5)
>* [**6. Spark**](#6)
>    - [6.1. rdds](#6.1.)
>    - [6.2. df](#6.2.)

In [11]:
import pandas as pd
import numpy as np
import matplotlib as plt

## 1. data preperation <a name=1></a>

In [71]:
df = pd.read_csv("./Revision2/employees_satisfaction.csv")

In [13]:
display(df.head(5))

,Unnamed: 0,emp_id,age,Dept,education,recruitment_type,job_level,rating,awards,certifications,salary,gender,entry_date,last_raise,satisfied
0,0,HR8270,28,HR,PG,Referral,5,2.0,1,0,86750,m,2019-02-01,NaN,1
1,1,TECH1860,50,Technology,PG,Recruitment Agency,3,5.0,2,1,42419,Male,2017-01-17,NaN,0
2,2,TECH6390,43,Technology,UG,Referral,4,1.0,2,0,65715,f,2012-08-27,NaN,1
3,3,SAL6191,44,Sales,PG,On-Campus,2,3.0,0,0,29805,f,2017-07-25,NaN,1
4,4,HR6734,33,HR,UG,Recruitment Agency,2,1.0,5,0,29805,m,2019-05-17,NaN,1

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        500 non-null    int64
 1   emp_id            500 non-null    object
 2   age               500 non-null    int64
 3   Dept              500 non-null    object
 4   education         500 non-null    object
 5   recruitment_type  500 non-null    object
 6   job_level         500 non-null    int64
 7   rating            471 non-null    float64
 8   awards            500 non-null    int64
 9   certifications    500 non-null    int64
 10  salary            500 non-null    int64
 11  gender            497 non-null    object
 12  entry_date        500 non-null    object
 13  last_raise        26 non-null     float64
 14  satisfied         500 non-null    int64
dtypes: float64(2), int64(7), object(6)
memory usage: 58.7+ KB

In [15]:
df['age'].dtype

dtype('int64')

In [72]:
df.count()

Unnamed: 0          500
emp_id              500
age                 500
Dept                500
education           500
recruitment_type    500
job_level           500
rating              471
awards              500
certifications      500
salary              500
gender              497
entry_date          500
last_raise           26
satisfied           500
dtype: int64

In [16]:
df.columns.values

array(['Unnamed: 0', 'emp_id', 'age', 'Dept', 'education',
       'recruitment_type', 'job_level', 'rating', 'awards',
       'certifications', 'salary', 'gender', 'entry_date', 'last_raise',
       'satisfied'], dtype=object)

In [17]:
df.describe(include='all')

,Unnamed: 0,emp_id,age,Dept,education,recruitment_type,job_level,rating,awards,certifications,salary,gender,entry_date,last_raise,satisfied
count,500.000000,500,500.000000,500,500,500,500.000000,471.000000,500.000000,500.000000,500.000000,497,500,26.000000,500.000000
unique,NaN,499,NaN,5,2,4,NaN,NaN,NaN,NaN,NaN,4,475,NaN,NaN
top,NaN,MKT7287,NaN,Purchasing,PG,Referral,NaN,NaN,NaN,NaN,NaN,m,2019-09-01,NaN,NaN
freq,NaN,2,NaN,114,254,140,NaN,NaN,NaN,NaN,NaN,207,3,NaN,NaN
mean,249.500000,NaN,39.694000,NaN,NaN,NaN,3.032000,3.093418,4.570000,0.514000,50416.056000,NaN,NaN,0.049231,0.714000
std,144.481833,NaN,8.477033,NaN,NaN,NaN,1.423738,1.423129,2.989812,0.628167,23671.392661,NaN,NaN,0.029519,0.452342
min,0.000000,NaN,22.000000,NaN,NaN,NaN,1.000000,1.000000,0.000000,0.000000,24076.000000,NaN,NaN,0.010000,0.000000
25%,124.750000,NaN,34.000000,NaN,NaN,NaN,2.000000,2.000000,2.000000,0.000000,29805.000000,NaN,NaN,0.020000,0.000000
50%,249.500000,NaN,39.000000,NaN,NaN,NaN,3.000000,3.000000,5.000000,0.000000,42419.000000,NaN,NaN,0.050000,1.000000
75%,374.250000,NaN,47.000000,NaN,NaN,NaN,4.000000,4.000000,7.000000,1.000000,65715.000000,NaN,NaN,0.077500,1.000000
max,499.000000,NaN,56.000000,NaN,NaN,NaN,5.000000,5.000000,25.000000,9.000000,86750.000000,NaN,NaN,0.100000,1.000000

### 1.1. Anzahl Spalten

In [18]:
len(df.columns)

15

In [19]:
len(df.keys())

15

In [20]:
len(df.axes[1])

15

In [21]:
len(df)

500

In [22]:
len(df.index)

500

In [23]:
len(df.axes[0])

500

## Data Quality  <a name=2></a>

### Data Integrity  <a name=2.1.></a>

In [24]:
#Timely
print(df['entry_date'].min(), " - ", df['entry_date'].max())

2004-01-05  -  2020-12-17

In [25]:
#complete
print(df.isnull().sum())

Unnamed: 0            0
emp_id                0
age                   0
Dept                  0
education             0
recruitment_type      0
job_level             0
rating               29
awards                0
certifications        0
salary                0
gender                3
entry_date            0
last_raise          474
satisfied             0
dtype: int64

In [26]:
#High Volume.
len(df)

500

In [27]:
#multivariate
# Check the number of variables (columns) in the dataset
num_variables = df.shape[1]

if num_variables > 1:
    print("The dataset is multivariate with", num_variables, "variables.")
else:
    print("The dataset is not multivariate.")

The dataset is multivariate with 15 variables.

In [28]:
#atomic
def is_atomic(df):
    for column in df.columns:
        if df[column].apply(lambda x: isinstance(x, (list, dict))).any():
            return False
    return True

# Usage:
print(is_atomic(df))

'''
# Assuming 'info' column contains dictionaries
info_df = df['info'].apply(pd.Series)
df = pd.concat([df.drop(['info'], axis=1), info_df], axis=1)


# Assuming 'tags' column contains lists
for tag in set(x for l in df['tags'] for x in l):
    df['tag_' + tag] = df['tags'].apply(lambda x: tag in x)



'''

True

"\n# Assuming 'info' column contains dictionaries\ninfo_df = df['info'].apply(pd.Series)\ndf = pd.concat([df.drop(['info'], axis=1), info_df], axis=1)\n\n\n# Assuming 'tags' column contains lists\nfor tag in set(x for l in df['tags'] for x in l):\n    df['tag_' + tag] = df['tags'].apply(lambda x: tag in x)\n\n\n\n"

In [29]:
# consistent

#are there duplicates?

if(df.duplicated().any()):
    print("this dataset contains ", df.duplicated().sum() ," duplicates.")
    print(df[df.duplicated()])
else: print("this dataset does not contain duplicates.")

#you can drop duplicates as follows:
#df_dss.drop_duplicates() 

#are the decriptives used for the same value in the dataset consistent? e.g. spelling of "male" vs "Male"
#find inconsistencies:
df['gender'].value_counts()

this dataset does not contain duplicates.

gender
m         207
f         187
Male       57
Female     46
Name: count, dtype: int64

In [30]:
# Überprüfe die Einzigartigkeit der Werte in jeder Spalte
for column in df.columns:
    print(f"{column}: {df[column].nunique()} unique values")

Unnamed: 0: 500 unique values
emp_id: 499 unique values
age: 35 unique values
Dept: 5 unique values
education: 2 unique values
recruitment_type: 4 unique values
job_level: 5 unique values
rating: 5 unique values
awards: 11 unique values
certifications: 3 unique values
salary: 5 unique values
gender: 4 unique values
entry_date: 475 unique values
last_raise: 8 unique values
satisfied: 2 unique values

In [31]:
#clear

# Check column names for clarity
print("Column names:")
print(df.columns)

# Check unique values in each column
for column in df.columns:
    print(f"\nUnique values in {column}:")
    print(df[column].unique())

Column names:
Index(['Unnamed: 0', 'emp_id', 'age', 'Dept', 'education', 'recruitment_type',
       'job_level', 'rating', 'awards', 'certifications', 'salary', 'gender',
       'entry_date', 'last_raise', 'satisfied'],
      dtype='object')

Unique values in Unnamed: 0:
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499]

Unique values in emp_id:
['HR8270' 'TECH1860' 'TECH6390' 'SAL6191' 'HR6734' 'PUR7265' 'PUR1466'
 'TECH5426' 'HR6578' 'TECH9322' 'MKT2685' 'TECH1769' 'TECH7949' 'PUR3433'
 'PUR6311' 'PUR6051' 'MKT7420' 'PUR2184' 'HR5555' 'SAL4385' 'HR7396'
 'HR9666' 'PUR3558' 'SAL8849' 'SAL3047' 'SAL3747' 'MKT1189' 'PUR3734'
 'SAL4005' 'MKT5658' 'TECH2899' 'TECH8734' 'MKT2267' 'MKT2528' 'PUR4556'
 'PUR4890' 'TECH9838' 'SAL6393' 'TECH9792' 'SAL9433' 'SAL8513' 'PUR3612'
 'HR8041' 'HR7235' 'MKT6486' 'PUR8099' 'SAL1775' 'HR9226' 'SAL4152'
 'HR2585' 'HR4943' 'HR8555' 'PUR4073' 'TECH2021' 'SAL4843' 'PUR8989'
 'PUR7873' 'PUR6675' 'PUR1161' 'PUR5297' 'MKT1995' 'SAL8629' 'PUR2016'
 'SAL8869' 'MKT7439' 'MKT8892' 'SAL7863' 'HR8916' 'TECH9529' 'HR1878'
 'HR5887' 'HR5859' 'PUR7331' 'MKT9571' 'HR9684' 'MKT8208' 'SAL6276'
 'TECH3062' 'SAL1064' 'SAL9006' 'PUR3568' 'TECH6463' 'SAL3027' 'SAL3695'
 'TECH6258' 'TECH6618' 'SAL7736' 'TECH1391' 'SAL6892' 'SAL4561' 'PUR7184'
 'HR4099' 'SAL7278' 'MKT9392' 'HR4104' 'HR8215' 'HR3454' 'PUR9996'
 'SAL3731' 'PUR9154' 'SAL6056' 'PUR9110' 'PUR4840' 'MKT2028' 'PUR8385'
 'TECH1502' 'MKT7910' 'PUR7938' 'HR5488' 'TECH1206' 'TECH6134' 'TECH6977'
 'MKT8721' 'PUR8035' 'PUR2484' 'HR8858' 'HR1863' 'TECH3790' 'HR8408'
 'MKT9755' 'PUR6116' 'TECH7019' 'HR2757' 'MKT8574' 'MKT7374' 'HR7892'
 'PUR2678' 'HR4242' 'TECH5636' 'HR2059' 'MKT7668' 'HR4157' 'PUR6915'
 'PUR3693' 'HR4627' 'PUR6450' 'PUR2663' 'MKT6592' 'PUR8392' 'PUR2306'
 'PUR7776' 'PUR6864' 'TECH8526' 'TECH9901' 'MKT6575' 'HR6530' 'PUR5413'
 'HR4748' 'HR1663' 'MKT2998' 'PUR8994' 'PUR2495' 'SAL4304' 'HR4763'
 'HR6232' 'TECH2853' 'SAL7585' 'TECH2291' 'TECH4581' 'TECH8554' 'MKT8280'
 'MKT2636' 'TECH4696' 'SAL1698' 'HR5737' 'SAL1854' 'PUR9164' 'MKT6855'
 'HR8392' 'HR7528' 'PUR6249' 'PUR6172' 'TECH2707' 'MKT6791' 'MKT6535'
 'SAL5931' 'TECH4510' 'TECH1202' 'TECH5218' 'TECH9958' 'MKT5389' 'MKT3327'
 'TECH9004' 'SAL3931' 'HR8777' 'HR1197' 'SAL8125' 'TECH2930' 'MKT7287'
 'HR9800' 'PUR5282' 'PUR3511' 'SAL1659' 'TECH3811' 'HR8098' 'TECH7546'
 'HR2986' 'SAL9338' 'SAL3911' 'PUR2734' 'TECH2843' 'PUR9680' 'TECH3976'
 'PUR2959' 'MKT6759' 'MKT7694' 'MKT3385' 'MKT5736' 'HR2802' 'MKT9155'
 'SAL9120' 'SAL7616' 'HR6534' 'MKT5061' 'MKT1262' 'PUR9815' 'TECH3049'
 'PUR6423' 'TECH5548' 'MKT4108' 'MKT8158' 'PUR8400' 'PUR4170' 'TECH3255'
 'SAL2154' 'TECH5499' 'PUR7295' 'PUR7197' 'HR2648' 'PUR6539' 'HR5199'
 'SAL9445' 'TECH3557' 'TECH6592' 'HR1098' 'TECH3200' 'PUR3961' 'MKT5973'
 'HR5433' 'TECH3869' 'HR1956' 'HR9352' 'MKT6699' 'PUR7944' 'HR5493'
 'TECH5911' 'SAL4987' 'HR7015' 'HR2218' 'MKT5496' 'PUR5735' 'SAL5555'
 'TECH9050' 'SAL4446' 'TECH2045' 'PUR7893' 'TECH2693' 'MKT4436' 'MKT9754'
 'MKT6895' 'MKT4354' 'SAL1225' 'PUR5893' 'TECH8022' 'TECH6600' 'MKT8996'
 'MKT8683' 'HR5642' 'PUR8679' 'SAL9208' 'TECH8339' 'HR3205' 'HR2069'
 'TECH4444' 'SAL2060' 'HR3327' 'HR4420' 'PUR1301' 'SAL1606' 'HR4170'
 'SAL1699' 'TECH6088' 'MKT1190' 'HR1980' 'PUR3975' 'TECH7102' 'SAL2184'
 'TECH4327' 'HR4394' 'SAL9319' 'MKT2816' 'TECH6854' 'HR7709' 'PUR1569'
 'SAL6442' 'TECH2895' 'TECH3733' 'MKT4863' 'MKT8455' 'PUR5014' 'PUR2686'
 'HR4009' 'HR8806' 'PUR1154' 'PUR2409' 'SAL1784' 'MKT9096' 'HR8560'
 'MKT8343' 'MKT8206' 'PUR6596' 'SAL6801' 'TECH3806' 'SAL1537' 'SAL6986'
 'MKT2841' 'PUR9716' 'HR7971' 'MKT6625' 'HR3950' 'TECH8992' 'MKT5780'
 'TECH3368' 'MKT7655' 'PUR9173' 'SAL5495' 'PUR7002' 'TECH7614' 'SAL6919'
 'MKT1853' 'SAL5146' 'HR4769' 'SAL1574' 'HR2148' 'SAL7293' 'HR7457'
 'TECH8509' 'PUR5777' 'MKT4854' 'PUR3491' 'PUR4124' 'MKT6691' 'MKT4051'
 'HR1004' 'TECH6222' 'TECH6315' 'PUR5869' 'TECH1876' 'SAL8027' 'TECH5142'
 'PUR7966' 'TECH8079' 'SAL8987' 'HR7799' 'PUR5465' 'HR1635' 'HR2693'
 'HR5752' 'MKT9311' 'MKT1830' 'HR6177' 'PUR9932' 'SAL9308' 'SAL6949'
 'TECH3838' 'PUR2150' 'MKT8560' 'HR2931' 'TECH2664' 'SAL2081' 'MKT1512'
 'MKT8805' 'HR6237' 'PUR1559' 'PUR4672' 'MKT8404' 'HR4343' 'PUR5070'
 'SAL1580' 'MKT8004' 'PUR9130' 'PUR4147' 'PUR5249' 'MKT2679' 'MKT4506'
 'TECH8253' 'SAL3744' 'HR6188' 'PUR3141' 'TECH7617' 'HR3479' 'TECH7484'
 'MKT8421' 'PUR5452' 'HR6881' 'HR7665' 'HR3849' 'HR8390' 'HR7905'
 'TECH3489' 'PUR5611' 'MKT3839' 'MKT9527' 'MKT6878' 'MKT7303' 'TECH1851'
 'SAL2687' 'PUR7833' 'HR3427' 'SAL5000' 'MKT6052' 'SAL3738' 'PUR6732'
 'HR6387' 'HR9002' 'PUR6536' 'PUR4913' 'MKT2066' 'HR8723' 'SAL5380'
 'TECH5107' 'TECH6726' 'PUR4373' 'MKT9945' 'TECH3082' 'HR9967' 'PUR7748'
 'SAL1417' 'PUR9306' 'SAL9808' 'PUR4974' 'PUR4267' 'PUR1825' 'SAL8668'
 'SAL6745' 'PUR1412' 'TECH8543' 'MKT8587' 'MKT1728' 'MKT8164' 'SAL9867'
 'SAL6988' 'TECH3504' 'MKT3967' 'MKT3786' 'PUR2122' 'SAL5079' 'MKT2571'
 'TECH6073' 'TECH6104' 'MKT3143' 'SAL7806' 'TECH8357' 'PUR4440' 'TECH4766'
 'HR6644' 'HR3914' 'SAL5968' 'MKT6917' 'SAL9787' 'SAL1728' 'SAL2365'
 'PUR5492' 'PUR1698' 'PUR8186' 'TECH1395' 'HR8400' 'SAL9082' 'TECH5171'
 'HR5360' 'MKT3502' 'PUR1717' 'HR3782' 'MKT5946' 'HR6486' 'PUR9335'
 'PUR5980' 'TECH8266' 'SAL5491' 'HR8192' 'HR6588' 'MKT8651' 'PUR4636'
 'HR2167' 'PUR2062' 'HR3156' 'TECH8860' 'SAL6161' 'HR6305' 'PUR7541'
 'TECH5729' 'HR8330' 'MKT6334' 'SAL9924' 'HR5330' 'TECH9010' 'MKT7801'
 'TECH5846' 'TECH7731']

Unique values in age:
[28 50 43 44 33 40 26 25 35 45 31 48 52 34 24 54 37 53 38 49 47 46 39 27
 29 36 42 41 51 32 56 30 23 55 22]

Unique values in Dept:
['HR' 'Technology' 'Sales' 'Purchasing' 'Marketing']

Unique values in education:
['PG' 'UG']

Unique values in recruitment_type:
['Referral' 'Recruitment Agency' 'On-Campus' 'Walk-in']

Unique values in job_level:
[5 3 4 2 1]

Unique values in rating:
[ 2.  5.  1.  3.  4. nan]

Unique values in awards:
[ 1  2  0  5  7  4  9  6  8  3 25]

Unique values in certifications:
[0 1 9]

Unique values in salary:
[86750 42419 65715 29805 24076]

Unique values in gender:
['m' 'Male' 'f' 'Female' nan]

Unique values in entry_date:
['2019-02-01' '2017-01-17' '2012-08-27' '2017-07-25' '2019-05-17'
 '2004-04-22' '2019-12-10' '2017-03-18' '2015-04-02' '2004-03-19'
 '2009-01-24' '2016-03-10' '2013-04-24' '2010-07-25' '2018-02-07'
 '2014-04-24' '2014-12-10' '2018-02-18' '2014-05-07' '2012-02-15'
 '2008-01-15' '2015-04-13' '2013-07-02' '2016-03-22' '2006-09-05'
 '2005-10-08' '2008-01-08' '2005-11-19' '2011-02-28' '2008-06-03'
 '2006-07-24' '2015-04-14' '2011-03-06' '2011-11-11' '2019-05-04'
 '2018-12-31' '2013-03-07' '2006-10-21' '2019-01-08' '2004-08-19'
 '2005-10-15' '2009-11-22' '2014-02-25' '2016-01-09' '2009-01-18'
 '2004-01-16' '2018-04-28' '2014-11-09' '2010-05-14' '2008-12-10'
 '2005-02-24' '2007-03-05' '2016-02-15' '2016-05-07' '2017-05-18'
 '2014-04-19' '2008-12-25' '2009-06-01' '2008-02-05' '2014-06-16'
 '2019-02-08' '2020-11-26' '2013-05-26' '2005-08-13' '2008-09-19'
 '2010-04-22' '2006-03-31' '2020-09-10' '2020-06-01' '2020-05-30'
 '2014-08-24' '2008-11-15' '2013-04-03' '2007-03-15' '2008-10-30'
 '2007-03-31' '2016-04-20' '2013-01-01' '2010-08-13' '2010-04-09'
 '2013-08-23' '2014-07-31' '2019-09-19' '2016-09-08' '2017-02-26'
 '2012-07-21' '2015-11-10' '2009-08-22' '2005-10-27' '2016-02-01'
 '2008-04-22' '2008-08-31' '2009-09-29' '2004-08-26' '2004-09-07'
 '2012-04-17' '2009-12-31' '2014-12-04' '2005-08-27' '2017-04-02'
 '2008-04-10' '2019-10-02' '2015-09-27' '2014-06-15' '2006-05-13'
 '2007-11-18' '2018-08-18' '2007-04-26' '2012-02-17' '2014-07-18'
 '2007-01-24' '2009-09-22' '2018-11-29' '2008-09-17' '2009-10-07'
 '2019-11-28' '2020-10-18' '2014-11-16' '2009-03-05' '2016-07-31'
 '2012-03-08' '2014-11-07' '2020-01-10' '2013-06-15' '2015-01-08'
 '2006-02-08' '2009-12-14' '2018-09-10' '2014-04-09' '2015-03-12'
 '2018-09-15' '2004-07-13' '2009-11-01' '2004-02-24' '2008-11-13'
 '2013-01-21' '2014-04-02' '2018-12-08' '2010-04-14' '2017-03-21'
 '2006-03-10' '2007-09-06' '2016-02-24' '2013-05-14' '2020-10-10'
 '2018-05-30' '2019-03-28' '2004-10-30' '2010-02-05' '2016-12-26'
 '2004-07-15' '2006-02-20' '2011-03-27' '2012-10-02' '2014-05-29'
 '2019-08-22' '2004-06-20' '2010-08-25' '2006-08-10' '2018-03-13'
 '2004-01-20' '2008-12-17' '2016-04-06' '2018-06-15' '2012-02-07'
 '2018-04-14' '2008-10-31' '2018-07-10' '2011-02-18' '2008-10-14'
 '2010-03-10' '2011-03-24' '2007-06-22' '2018-06-03' '2013-03-06'
 '2005-10-02' '2008-11-17' '2005-12-17' '2015-09-11' '2009-11-28'
 '2007-12-17' '2016-05-03' '2008-01-02' '2020-03-19' '2014-07-05'
 '2017-03-10' '2019-01-05' '2014-04-07' '2018-01-11' '2007-12-25'
 '2009-01-21' '2015-08-14' '2007-12-15' '2012-06-17' '2014-10-23'
 '2005-06-25' '2006-08-27' '2004-11-13' '2005-03-12' '2013-02-18'
 '2014-08-22' '2019-05-01' '2017-11-06' '2018-01-20' '2019-10-13'
 '2005-04-19' '2013-01-31' '2006-02-11' '2016-12-28' '2013-05-11'
 '2011-08-28' '2014-01-01' '2013-08-01' '2018-12-11' '2019-10-04'
 '2011-10-27' '2009-04-14' '2018-07-27' '2013-09-25' '2020-05-14'
 '2005-03-15' '2012-07-30' '2016-09-30' '2017-06-20' '2013-10-09'
 '2010-02-11' '2019-04-11' '2009-04-29' '2015-12-30' '2015-02-26'
 '2010-05-02' '2007-08-20' '2004-06-01' '2020-04-06' '2011-02-11'
 '2011-06-25' '2004-04-19' '2019-09-01' '2014-01-18' '2009-05-25'
 '2015-10-20' '2007-06-12' '2014-02-03' '2007-08-14' '2012-01-20'
 '2009-09-09' '2007-11-26' '2010-07-04' '2013-03-23' '2014-07-30'
 '2006-02-07' '2010-11-14' '2009-10-23' '2014-12-25' '2006-07-14'
 '2016-12-03' '2018-04-15' '2015-06-14' '2010-11-13' '2014-10-14'
 '2010-01-21' '2007-05-05' '2008-11-04' '2018-07-28' '2009-02-27'
 '2007-10-12' '2005-05-29' '2016-12-20' '2004-04-13' '2014-01-19'
 '2016-07-06' '2009-10-08' '2017-05-16' '2007-11-14' '2015-10-22'
 '2012-07-29' '2012-05-07' '2020-12-16' '2015-04-07' '2016-03-09'
 '2013-02-03' '2007-08-10' '2011-10-02' '2007-08-28' '2005-08-21'
 '2007-08-16' '2006-05-01' '2009-11-25' '2009-08-06' '2011-10-22'
 '2015-07-14' '2014-03-20' '2016-04-12' '2006-09-11' '2019-03-27'
 '2010-07-14' '2012-12-03' '2015-10-13' '2015-09-19' '2012-12-27'
 '2017-07-03' '2004-07-05' '2004-06-08' '2008-01-31' '2011-04-23'
 '2010-09-17' '2014-12-09' '2013-02-09' '2015-01-03' '2009-06-10'
 '2015-12-02' '2005-03-30' '2013-03-17' '2010-02-27' '2010-11-12'
 '2012-02-05' '2020-10-27' '2005-12-23' '2012-09-28' '2015-06-13'
 '2007-10-23' '2007-05-29' '2017-09-10' '2009-05-21' '2019-09-07'
 '2019-04-28' '2015-11-07' '2018-12-24' '2011-05-25' '2017-05-26'
 '2007-09-01' '2006-02-09' '2013-05-07' '2019-01-20' '2020-11-09'
 '2014-01-20' '2004-12-03' '2005-10-07' '2006-02-04' '2016-11-16'
 '2007-11-13' '2017-12-31' '2016-12-08' '2007-08-03' '2005-09-16'
 '2020-12-04' '2020-04-15' '2005-02-12' '2009-03-22' '2020-11-16'
 '2009-11-12' '2011-03-04' '2008-10-28' '2011-03-29' '2012-05-23'
 '2020-02-21' '2008-11-06' '2013-11-14' '2014-02-18' '2011-01-03'
 '2004-01-22' '2014-05-17' '2008-11-01' '2014-05-28' '2016-12-31'
 '2017-08-09' '2006-06-01' '2015-03-01' '2012-07-04' '2016-10-28'
 '2004-01-05' '2016-10-14' '2020-04-11' '2004-04-17' '2007-06-01'
 '2016-05-16' '2016-10-24' '2020-04-05' '2007-06-17' '2005-06-05'
 '2010-09-18' '2018-06-21' '2020-11-22' '2018-06-22' '2018-04-10'
 '2016-11-13' '2012-12-16' '2017-02-16' '2020-02-11' '2005-11-03'
 '2017-04-12' '2015-10-12' '2016-12-05' '2006-11-01' '2006-09-10'
 '2018-11-05' '2007-07-17' '2005-01-12' '2008-04-11' '2020-12-17'
 '2016-10-31' '2010-01-17' '2013-08-13' '2009-06-19' '2011-07-05'
 '2008-02-04' '2013-09-17' '2014-07-02' '2019-04-24' '2016-10-06'
 '2017-07-29' '2007-05-13' '2007-08-13' '2008-07-18' '2014-11-26'
 '2006-03-21' '2019-11-20' '2008-10-12' '2019-05-19' '2007-09-03'
 '2016-11-04' '2020-04-26' '2006-07-02' '2014-10-26' '2019-03-25'
 '2017-09-14' '2008-01-21' '2019-05-12' '2015-08-22' '2007-09-22'
 '2010-07-08' '2005-11-15' '2020-02-14' '2004-10-04' '2011-10-29'
 '2005-04-27' '2015-10-30' '2020-06-03' '2006-03-17' '2012-03-21'
 '2011-07-31' '2013-01-14' '2010-04-06' '2013-03-20' '2018-07-09'
 '2019-04-19' '2016-08-16' '2008-02-25' '2019-10-26' '2006-06-14'
 '2009-07-13' '2017-01-25' '2019-02-23' '2010-11-08' '2013-07-26'
 '2004-08-14' '2017-04-13' '2008-04-09' '2008-09-08' '2004-09-16'
 '2020-07-22' '2019-01-06' '2015-08-09' '2020-02-25' '2019-06-26'
 '2016-09-03' '2019-10-17' '2015-05-05' '2005-07-22' '2006-03-29'
 '2014-03-21' '2018-02-20' '2020-10-20' '2012-05-18' '2018-12-28']

Unique values in last_raise:
[ nan 0.02 0.07 0.01 0.04 0.09 0.05 0.08 0.1 ]

Unique values in satisfied:
[1 0]

In [32]:
#Dimensionally structed.

# Überprüfe die ersten paar Zeilen des Datensatzes, um die Struktur zu sehen
df.head()

# Überprüfe die Anzahl der Dimensionen (Spalten) in Ihrem Datensatz
print("Number of dimensions in the dataset: ", df.shape[1])

Number of dimensions in the dataset:  15

### Data Fit  <a name=2.2.></a>

In [33]:
#Representativeness
# Überprüfen Sie die Verteilung der Zielvariable 'satisfied'
print(df['satisfied'].value_counts(normalize=True))

satisfied
1    0.714
0    0.286
Name: proportion, dtype: float64

## 3. Spalten transformieren  <a name=3></a>

In [34]:
df = df.rename(columns={'Dept': 'department'})

In [35]:
df['salary'] *= 0.9

In [36]:
df['entry_date'] = pd.to_datetime(df['entry_date'], format='%Y-%m-%d')

In [37]:

edu_recoding = {
    "UG": "Undergrad",
    "PG": "Postgrad"
}
df['education'] = df['education'].map(edu_recoding).fillna(df['education'])

In [38]:
df[['age','entry_date']]

diff = created.year - df['entry_date'].dt.year

len(df[df['age']- diff < 16])

NameError: name 'created' is not defined

In [ ]:
df["gender"] = df["gender"].fillna("Unknown")

In [ ]:
df = df.drop("last_raise", axis=1)

In [ ]:
idx = df[df['certifications']==9].index
df.loc[idx, "certifications"] = 0

In [ ]:
df['emp_id'].nunique()
df[df['emp_id'].duplicated(keep=False)]
df.drop_duplicates(keep==False, subset=['emp_id'])

In [ ]:
# Ihre Lösung
males = df[df['gender']=='Male']
females = df[df['gender']=='Female']
males[males['age'] == males['age'].max()]['department']

In [ ]:
#In welcher Abteilung sind die meisten zufriedenen Angestellten?
satisfied = df[df['satisfied'] == 1]
satisfied['department'].value_counts().index[0]

In [ ]:
#Und in welcher Abteilung sind die Angestellten im Schnitt am zufriedensten?
df.groupby('department')['satisfied'].mean().sort_values(ascending=False).index[0]

## 4. Diagramme  <a name=4></a>

In [ ]:
# outliers:
df.hist(column='age', bins=20, color='blue')

for column in df.columns:
    # Check if the column is numeric for valid histogram plotting
    if pd.api.types.is_numeric_dtype(df[column]):
        df.hist(column)

In [ ]:
df['department'].value_counts().plot(kind='bar')
plt.title('Anzahl angestellte pro department')
plt.ylabel('Anzahl angestellte')  # Füge
plt.show()

In [ ]:
# Ihre Lösung

df.groupby(['department', 'gender'])\
.size()\
.unstack('department')\
.plot(kind='pie',subplots=True, figsize=(15,10), layout=(3, 3), autopct='%1.1f%%')

## 5. grouping  <a name=5></a>

1. `df.groupby('job_level')['age']`: This groups the DataFrame `df` by the column 'job_level' and then selects the 'age' column from the grouped data. The result is a Series with the 'job_level' as the index. You can then apply aggregate functions (like mean, sum, etc.) to this Series to get statistics for 'age' within each 'job_level'.

2. `df.groupby(['job_level', 'age'])`: This groups the DataFrame `df` by two columns: 'job_level' and 'age'. The result is a DataFrame with a MultiIndex ('job_level' and 'age'). You can then apply aggregate functions to this DataFrame to get statistics for each combination of 'job_level' and 'age'.

In summary, the first expression is used when you want to analyze the 'age' column within each 'job_level', while the second expression is used when you want to analyze the data for each combination of 'job_level' and 'age'.

In [ ]:
df.groupby([df['entry_date'].dt.year, 'recruitment_type']).size().unstack('recruitment_type').plot(kind='line')

## 6. Spark  <a name=6></a>

In [39]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
import pyspark.sql.functions as f
import pandas as pd
import numpy as np

In [40]:
# SparkSession erstellen #.master("yarn") \
spark = SparkSession.builder \
    .appName("My Spark Application") \
    .getOrCreate()

# SparkContext
sc = spark.sparkContext

In [41]:
data = [1 for i in range (10)] + [0 for i in range (5)]
data

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]

In [42]:
# RDD erstellen
rdd_part =  sc.parallelize(data, 3)

In [43]:
# Anzahl Partitionen anzeigen
num_partitions = rdd_part.getNumPartitions()

In [44]:
rdd_filtered = rdd_part.filter(lambda x: x > 0)

### 6.1. rdds  <a name=6.1.></a>

In [53]:
rdd_df = sc.textFile("./Revision2/employees_satisfaction_transformed.csv")
rdd_df

./Revision2/employees_satisfaction_transformed.csv MapPartitionsRDD[17] at textFile at NativeMethodAccessorImpl.java:0

In [54]:
#erste 10 Zeilen anzeigen.
rdd_df.take(10)

[',age,department,education,recruitment_type,job_level,rating,awards,certifications,salary,gender,entry_date,satisfied',
 '0,28,HR,Postgraduate,Referral,5,2.0,1,0,78075.0,Male,2019-02-01,1',
 '1,50,Technology,Postgraduate,Recruitment Agency,3,5.0,2,1,38177.1,Male,2017-01-17,0',
 '2,43,Technology,Undergraduate,Referral,4,1.0,2,0,59143.5,Female,2012-08-27,1',
 '3,44,Sales,Postgraduate,On-Campus,2,3.0,0,0,26824.5,Female,2017-07-25,1',
 '4,33,HR,Undergraduate,Recruitment Agency,2,1.0,5,0,26824.5,Male,2019-05-17,1',
 '5,40,Purchasing,Undergraduate,Walk-in,3,3.0,7,1,38177.1,Male,2004-04-22,1',
 '6,26,Purchasing,Undergraduate,Referral,5,5.0,2,0,78075.0,Male,2019-12-10,1',
 '7,25,Technology,Undergraduate,Recruitment Agency,1,1.0,4,0,21668.4,Female,2017-03-18,0',
 '8,35,HR,Postgraduate,Referral,3,4.0,0,0,38177.1,Female,2015-04-02,1']

In [55]:
header = rdd_df.first()

In [56]:
rdd_no_header = rdd_df.filter(lambda line: line != header)

In [57]:
num_employees = rdd_no_header.count()

#### **Splitting**

In [58]:
rdd_split = rdd_no_header.map(lambda line: line.split(','))

In [59]:
rdd_kv = rdd_split.map(lambda line: (line[2], 1))  # line[2] ist das Department

In [63]:
rdd_counts = rdd_kv.reduceByKey(lambda a, b: a + b)
employee_per_department = rdd_counts.collect()

In [64]:
for department, count in employee_per_department:
    print(f"Department: {department}, Anzahl der Angestellten: {count}")

Department: HR, Anzahl der Angestellten: 106
Department: Technology, Anzahl der Angestellten: 98
Department: Sales, Anzahl der Angestellten: 87
Department: Purchasing, Anzahl der Angestellten: 114
Department: Marketing, Anzahl der Angestellten: 93

### 6.2. df  <a name=6.2.></a>

In [73]:
df = spark.read.csv("./Revision2/employees_satisfaction_transformed.csv", header=True, inferSchema=True)

In [67]:
# Schema ausgeben
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- department: string (nullable = true)
 |-- education: string (nullable = true)
 |-- recruitment_type: string (nullable = true)
 |-- job_level: integer (nullable = true)
 |-- rating: string (nullable = true)
 |-- awards: integer (nullable = true)
 |-- certifications: integer (nullable = true)
 |-- salary: double (nullable = true)
 |-- gender: string (nullable = true)
 |-- entry_date: date (nullable = true)
 |-- satisfied: integer (nullable = true)

In [68]:
df.show(10)

+---+---+----------+-------------+------------------+---------+------+------+--------------+-------+------+----------+---------+
|_c0|age|department|    education|  recruitment_type|job_level|rating|awards|certifications| salary|gender|entry_date|satisfied|
+---+---+----------+-------------+------------------+---------+------+------+--------------+-------+------+----------+---------+
|  0| 28|        HR| Postgraduate|          Referral|        5|   2.0|     1|             0|78075.0|  Male|2019-02-01|        1|
|  1| 50|Technology| Postgraduate|Recruitment Agency|        3|   5.0|     2|             1|38177.1|  Male|2017-01-17|        0|
|  2| 43|Technology|Undergraduate|          Referral|        4|   1.0|     2|             0|59143.5|Female|2012-08-27|        1|
|  3| 44|     Sales| Postgraduate|         On-Campus|        2|   3.0|     0|             0|26824.5|Female|2017-07-25|        1|
|  4| 33|        HR|Undergraduate|Recruitment Agency|        2|   1.0|     5|             0|26824.5|  Male|2019-05-17|        1|
|  5| 40|Purchasing|Undergraduate|           Walk-in|        3|   3.0|     7|             1|38177.1|  Male|2004-04-22|        1|
|  6| 26|Purchasing|Undergraduate|          Referral|        5|   5.0|     2|             0|78075.0|  Male|2019-12-10|        1|
|  7| 25|Technology|Undergraduate|Recruitment Agency|        1|   1.0|     4|             0|21668.4|Female|2017-03-18|        0|
|  8| 35|        HR| Postgraduate|          Referral|        3|   4.0|     0|             0|38177.1|Female|2015-04-02|        1|
|  9| 45|Technology| Postgraduate|          Referral|        3|   3.0|     9|             0|38177.1|Female|2004-03-19|        0|
+---+---+----------+-------------+------------------+---------+------+------+--------------+-------+------+----------+---------+
only showing top 10 rows

In [74]:
# Anzahl der Angestellten ermitteln
df.count()

498

In [86]:
# Daten
dept_data = [("Sales", "New York", 10001), 
            ("HR", "Los Angeles", 90001),
            ("Purchasing", "San Francisco", 94104),
            ("Marketing", "Philadelphia", 19110),
            ("Technology", "Los Angeles", 90099)]

# Spaltennamen
column_names = ["name", "location", "zip_code"]

# Erstellen Sie das DataFrame
departments = spark.createDataFrame(dept_data, column_names)

# Geben Sie das DataFrame aus
departments.show(5)

+----------+-------------+--------+
|      name|     location|zip_code|
+----------+-------------+--------+
|     Sales|     New York|   10001|
|        HR|  Los Angeles|   90001|
|Purchasing|San Francisco|   94104|
| Marketing| Philadelphia|   19110|
|Technology|  Los Angeles|   90099|
+----------+-------------+--------+

In [75]:
# RDD aus DF erstellen
rdd = df.rdd
rdd.take(5)

[Row(_c0=0, age=28, department='HR', education='Postgraduate', recruitment_type='Referral', job_level=5, rating='2.0', awards=1, certifications=0, salary=78075.0, gender='Male', entry_date=datetime.date(2019, 2, 1), satisfied=1),
 Row(_c0=1, age=50, department='Technology', education='Postgraduate', recruitment_type='Recruitment Agency', job_level=3, rating='5.0', awards=2, certifications=1, salary=38177.1, gender='Male', entry_date=datetime.date(2017, 1, 17), satisfied=0),
 Row(_c0=2, age=43, department='Technology', education='Undergraduate', recruitment_type='Referral', job_level=4, rating='1.0', awards=2, certifications=0, salary=59143.5, gender='Female', entry_date=datetime.date(2012, 8, 27), satisfied=1),
 Row(_c0=3, age=44, department='Sales', education='Postgraduate', recruitment_type='On-Campus', job_level=2, rating='3.0', awards=0, certifications=0, salary=26824.5, gender='Female', entry_date=datetime.date(2017, 7, 25), satisfied=1),
 Row(_c0=4, age=33, department='HR', education='Undergraduate', recruitment_type='Recruitment Agency', job_level=2, rating='1.0', awards=5, certifications=0, salary=26824.5, gender='Male', entry_date=datetime.date(2019, 5, 17), satisfied=1)]

Das RDD besteht aus einzelnen Rows. Mittels Index kann auf die einzelnen Rows zugegriffen werden. Der Zugriff auf die Spalten erfolgt entweder auch durch die Angabe des Index oder durch den Spaltennamen.

Lassen Sie sich das Gehalt der ersten Row ausgeben.

In [77]:
# Erste Zeile (Row) des RDD erhalten
first_row = rdd.first() #third_row = rdd.take(3)[2]
print(f"Das Gehalt der ersten Row ist {first_row['salary']}.")

Das Gehalt der ersten Row ist 78075.0.

In [76]:
# 3. Zeile (Row) des RDD erhalten
third_row = rdd.take(3)[2]
print(f"Das Gehalt der ersten Row ist {third_row['salary']}.")

Das Gehalt der ersten Row ist 59143.5.

#### Datum

In [79]:
comparison = "2021-01-01"
comparison = f.to_date(f.lit(comparison))
comparison

Column<'to_date(2021-01-01)'>

In [80]:
#Datum differenz
df = df.withColumn("service_days", f.datediff(comparison, f.to_date("entry_date")))

# DataFrame anzeigen
df.show(5)

+---+---+----------+-------------+------------------+---------+------+------+--------------+-------+------+----------+---------+------------+
|_c0|age|department|    education|  recruitment_type|job_level|rating|awards|certifications| salary|gender|entry_date|satisfied|service_days|
+---+---+----------+-------------+------------------+---------+------+------+--------------+-------+------+----------+---------+------------+
|  0| 28|        HR| Postgraduate|          Referral|        5|   2.0|     1|             0|78075.0|  Male|2019-02-01|        1|         700|
|  1| 50|Technology| Postgraduate|Recruitment Agency|        3|   5.0|     2|             1|38177.1|  Male|2017-01-17|        0|        1445|
|  2| 43|Technology|Undergraduate|          Referral|        4|   1.0|     2|             0|59143.5|Female|2012-08-27|        1|        3049|
|  3| 44|     Sales| Postgraduate|         On-Campus|        2|   3.0|     0|             0|26824.5|Female|2017-07-25|        1|        1256|
|  4| 33|        HR|Undergraduate|Recruitment Agency|        2|   1.0|     5|             0|26824.5|  Male|2019-05-17|        1|         595|
+---+---+----------+-------------+------------------+---------+------+------+--------------+-------+------+----------+---------+------------+
only showing top 5 rows

In [81]:
# DataFrame filtern
#alle Angestellten, die länger als 6000 Tage im Unternehmen sind.
df_filtered = df.filter(df['service_days'] > 6000)

# Eintrittsdatum und Tage im Unternehmen anzeigen
df_filtered.select('entry_date', 'service_days').show()

+----------+------------+
|entry_date|service_days|
+----------+------------+
|2004-04-22|        6098|
|2004-03-19|        6132|
|2004-01-16|        6195|
|2004-07-13|        6016|
|2004-02-24|        6156|
|2004-07-15|        6014|
|2004-06-20|        6039|
|2004-01-20|        6191|
|2004-06-01|        6058|
|2004-04-19|        6101|
|2004-04-13|        6107|
|2004-07-05|        6024|
|2004-06-08|        6051|
|2004-01-20|        6191|
|2004-01-22|        6189|
|2004-01-05|        6206|
|2004-04-17|        6103|
|2004-07-05|        6024|
+----------+------------+

In [82]:
# Einzigartige Departments anzeigen
df.select("Department").distinct().show()

+----------+
|Department|
+----------+
|     Sales|
|        HR|
|Purchasing|
| Marketing|
|Technology|
+----------+

In [85]:
# Anzahl der Angestellten pro Abteilung ermitteln
df.groupBy('Department').count().show()

+----------+-----+
|Department|count|
+----------+-----+
|     Sales|   87|
|        HR|  106|
|Purchasing|  114|
| Marketing|   93|
|Technology|   98|
+----------+-----+

In [87]:
#durchschnittliche Zufriedenheit aller Personen aus, die in der Abteilung HR arbeiten, sowie das Alter der ältesten Person der Abteilung.
df.where(f.col('Department')=='HR') \
  .agg({'satisfied': 'mean', 'age': 'max'}) \
  .show()

+------------------+--------+
|    avg(satisfied)|max(age)|
+------------------+--------+
|0.6886792452830188|      54|
+------------------+--------+

#### Joins

Angenommen, wir haben zwei DataFrames: df1 und df2

#### 1. Right Join
Ein Right Join ist das Gegenteil eines Left Join. Sie behalten alle Zeilen aus dem rechten DataFrame und fügen die passenden Zeilen aus dem linken DataFrame hinzu. Wenn es keine Übereinstimmung gibt, wird `null` hinzugefügt. Dies ist nützlich, wenn Sie sicherstellen möchten, dass keine Daten aus dem rechten DataFrame verloren gehen.

In [ ]:
# Right Join
right_join_df = df1.join(df2, on=['common_column'], how='right')

#### 2. Left Join
Verwenden Sie einen Left Join, wenn Sie alle Zeilen aus dem linken DataFrame behalten und die passenden Zeilen aus dem rechten DataFrame hinzufügen möchten. Wenn es keine Übereinstimmung gibt, wird `null` hinzugefügt. Dies ist nützlich, wenn Sie sicherstellen möchten, dass keine Daten aus dem linken DataFrame verloren gehen.

In [ ]:
# Left Join
left_join_df = df1.join(df2, on=['common_column'], how='left')

#### 3. Inner Join
Ein Inner Join behält nur die Zeilen, bei denen es eine Übereinstimmung in beiden DataFrames gibt. Dies ist nützlich, wenn Sie nur an den übereinstimmenden Daten interessiert sind und alle nicht übereinstimmenden Daten ignorieren möchten.

In [ ]:
inner_join_df = df1.join(df2, on=['common_column'], how='inner')

inner_join_df = df1.join(df2, df1.column_name == df2.column_name2, how='inner')

In [88]:
#Wie viele Angestellte arbeiten in Los Angeles?
# Ihre Lösung
df \
.join(departments, df.department == departments.name) \
.where(departments.location == "Los Angeles") \
.count()

204

In [ ]:
# Lassen Sie sich die ersten 10 Gehälter der Angestellten ausgeben, die an der Ostküste arbeiten (in diesem Fall zip_code < 90000).
df.join(departments, departments.name == df.department) \
  .where(departments.zip_code < 90000) \
  .select(df.salary) \
  .show(10)

### 6.3. SQL <a name=6.3.></a>

In [ ]:
spark.sql("\
CREATE TEMP VIEW employees \
USING CSV \
OPTIONS (path = './employees_satisfaction_transformed.csv', header = 'True', inferSchema = 'True')")

In [ ]:
# Ihre Lösung
spark.sql("""
SELECT department, COUNT(*) as employee_count
FROM employees
GROUP BY department
""").show()